header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0c0c0c; /* Cor de fundo do headbar */
    color: #fff; /* Cor do texto */
  }
  
  .logo img {
    height: 50px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: #fff; /* Cor do texto dos links */
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: #00aeff; /* Cor do texto ao passar o mouse */
  }
  